body {
    padding-top: 70px;
}

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 6%;
    z-index: 100;
    background: #5ac19b;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.scroll-top a:link, .scroll-top a:visited {
    color: #222;
}

#footer {
    height: 50px;
    width: 100%;
    background-color: #ecf0f1;
    margin-top: 70px;
    padding: 15px;
}

#footer a {
    color: rgba(252, 252, 252, 0);
}

#updateDish {
    display: inline-block;
}

#update-dish input {
    width: 26%;
    height: 33px;
}

#update-dish a {
    color: black;
}

#thumb-up {
    margin-left: 3px;
}

#count {
    margin-right: 11px;
}