body {
    padding-top: 70px;
}

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 6%;
    z-index: 100;
    background: #5cb85c;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#footer {
    height: 50px;
    width: 100%;
    background-color: #ecf0f1;
    margin-top: 70px;
    padding: 15px;
}

#update-dish .form-control {
    width: 27%;
}

#thumb-up {
    margin-left: 3px;
}

#count {
    margin-right: 11px;
}
