<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vote Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/theme.css" rel="stylesheet" media="screen">
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../images/favicon.png">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/restaurant/all">VOTERESTAURANT.COM</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <a class="btn btn-success btn-sm navbar-btn" style="margin-left:10px;" href="user.html"
                   th:href="@{/user/update(userId=100000)}"
                   th:text="#{header.update}"></a>
                <a class="btn btn-danger btn-sm navbar-btn" href="/" th:text="#{header.logout}"></a>
                <div class="btn-group ">
                    <button class="btn btn-info navbar-btn btn-sm">En</button>
                    <button class="btn dropdown-toggle navbar-btn btn-info btn-sm" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="min-width:30px;">
                        <li><a href="">Ru</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>

<section>

    <div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Admin tools</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" data-toggle="collapse" data-target="#new_restaurant">Create
                            Restaurant</a></li>
                        <li><a href="admin.html" th:href="@{/vote/clear}">Clear votes</a></li>
                        <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
                        <!--aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                        <!--</ul>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </nav>

        <div class="panel panel-default collapse" id="new_restaurant">
            <div class="panel-heading">New restaurant</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="thumbnail">
                            <div class="caption">
                                <form action="#" th:action="@{/restaurant/create}">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control input-lg" id="name" name="name"
                                               placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" class="form-control" id="address" name="address"
                                               placeholder="Address">
                                    </div>
                                    <button type="submit" class="btn btn-default">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Restaurants</div>
            <div class="panel-body">
                <div class="row">
                    <div th:each="restaurant:${restaurants}">
                        <div class="col-lg-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <form action="#" th:action="@{/restaurant/update}">
                                        <input type="hidden" th:value="${{restaurant.id}}" name="id">
                                        <h3 class="caption-label"><input class="form-control input-lg" type="text"
                                                                         th:value="${{restaurant.name}}" name="name"/></h3>
                                        <h4 class="caption-label"><input class="form-control" type="text"
                                                                         th:value="${{restaurant.address}}" name="address">
                                        </h4>
                                        <div>
                                            <button type="submit"  class="btn btn-success">Update</button>
                                            <a href="admin.html" th:href="@{/restaurant/delete(id=${restaurant.id})}"
                                               class="btn btn-danger">Delete</a>
                                        </div>
                                    </form>
                                    <br>
                                    <div th:each="dish:${restaurant.dishes}" class="list-inline">
                                        <div class="container">
                                            <form class="form-inline">
                                                <div class="form-group col-lg-5">
                                                    <input class="form-control" type="text" th:value="${{dish.name}}"/>
                                                </div>
                                                <div class="form-group col-lg-2">
                                                    <input class="form-control pull-right text-right" type="text"
                                                           th:value="${{dish.price}}"/>
                                                </div>
                                                <div class="form-group col-lg-2">
                                                    <input class="form-control pull-right text-right" type="text"
                                                           th:value="${{dish.typeDish}}"/>
                                                </div>
                                                <button class="btn btn-default" type="submit" href="#"><span
                                                        class="glyphicon glyphicon-remove"></span></button>
                                                <button class="btn btn-default" type="submit" href="#"><span
                                                        class="glyphicon glyphicon-ok"></span></button>
                                            </form>
                                        </div>
                                    </div>
                                    <p>
                                        <h3>Votes
                                    <p class="pull-right" th:text="${{restaurant.votes.size()}}">0</p>
                                    </h3>
                                    </p>
                                    <div class="btn-group" role="group" aria-label="Restaurant">
                                        <a href="#" class="btn btn-primary">Add dish</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>

<div id="footer" class="text-center" th:include="footer::copy"></div>

<script src="../../js/jquery-2.2.4.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/app.js"></script>
</body>
</html>
