<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{header.head.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/theme.css" rel="stylesheet" media="screen">
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../images/favicon.png">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>

<body>
<div th:replace="header::headerBody"></div>

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:text="#{admin.navbar.title}"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" data-toggle="collapse" data-target="#new_restaurant"
                                          th:text="#{admin.create.new.restaurant}"></a></li>
                    <li><a class="voteClear" th:text="#{admin.clear.votes}"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="panel panel-default collapse" id="new_restaurant">
        <div class="panel-heading" th:text="#{admin.new.restaurant}"></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <form action="#" th:action="@{/restaurant/create}">
                                <div class="form-group">
                                    <label for="name" th:text="#{admin.new.restaurant.name}"></label>
                                    <input type="text" class="form-control input-lg" id="name" name="name"
                                           placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="address" th:text="#{admin.new.restaurant.address}"></label>
                                    <input type="text" class="form-control" id="address" name="address"
                                           placeholder="Address">
                                </div>
                                <button type="submit" class="btn btn-default"
                                        th:text="#{admin.new.restaurant.add}"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" th:text="#{admin.table.title}"></div>
        <div class="panel-body">
            <div th:each="restaurant:${restaurants}" id="datatable">
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <form method="post" action="#" th:action="@{/restaurant/update}">
                                <input type="hidden" th:value="${restaurant.id}" name="id">
                                <h3 class="caption-label"><input class="form-control input-lg" type="text"
                                                                 th:value="${restaurant.name}" name="name"/>
                                </h3>
                                <h4 class="caption-label"><input class="form-control" type="text"
                                                                 th:value="${restaurant.address}" name="address">
                                </h4>
                                <div>
                                    <button type="submit" class="btn btn-default"
                                            th:text="#{admin.table.update}"></button>
                                    <a href="admin.html" th:href="@{/restaurant/delete(id=${restaurant.id})}"
                                       class="btn btn-default" th:text="#{admin.table.delete}"></a>
                                    <a href="#" th:href="@{/dish/create(restaurantId=${restaurant.id})}"
                                       class="btn btn-default" th:text="#{admin.table.add.dish}"></a>
                                </div>
                            </form>
                            <br>
                            <div th:each="dish:${restaurant.dishes}">
                                <form id="dish_form" class="form-inline" action="#" th:action="@{/dish/update}">
                                    <input type="hidden" th:value="${dish.id}" name="id"/>
                                    <input type="hidden" th:value="${dish.restaurant.id}"
                                           name="restaurantId"/>
                                    <input type="text" class="form-control" th:value="${dish.name}" name="name"/>
                                    <input type="text" class="form-control" th:value="${dish.price}"
                                           name="price"/>
                                    <input type="text" class="form-control" th:value="${dish.typeDish}"
                                           name="typeDish"/>
                                    <button class="btn btn-default" type="submit"><i
                                            class="glyphicon glyphicon-ok"></i></button>
                                    <a class="btn btn-default" href="#"
                                       th:href="@{/dish/delete(id=${dish.id},restaurantId=${dish.restaurant.id})}"><i
                                            class="glyphicon glyphicon-remove"></i></a>
                                </form>
                            </div>
                            <h3>
                                <a href="#" id="thumb-up">
                                    <i class="glyphicon glyphicon-thumbs-up"></i>
                                </a>
                                <span class="pull-right" id="count" th:text="${restaurant.votes.size()}">0</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>

<div id="footer" class="text-center" th:include="footer::copy"></div>

</body>
<script src="../../js/jquery-2.2.4.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.noty.packaged.min.js"></script>
<script src="../../js/app.js"></script>
<script>
    var voteUrl = 'vote/';
    var restaurantUrl = 'restaurant/';

    $(document).ready(function () {
        makeEditable();
    })
</script>
</html>
