<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->
</head>

<body>

<div class="container" th:fragment="copy">
    <small class="text-muted">&copy; 2016 <span th:text="#{footer.name}"></span></small>
    <a href="https://ua.linkedin.com/pub/aleksandr-bogomolov/116/640/81">
        <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_greytxt_80x15.png" width="80"
             height="15" border="0" alt="View Aleksandr Bogomolov's profile on LinkedIn">
    </a>
</div>

</body>
</html>
