<!DOCTYPE html>
<!--suppress HtmlUnknownTag -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:fragment="headerBody">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/restaurant}">VOTERESTAURANT.COM</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">

                <a class="btn btn-success btn-sm navbar-btn" style="margin-left:10px;" href="profile.html"
                   th:href="@{/profile/update(userId=100000)}"
                   th:text="#{header.update}"></a>

                <a class="btn btn-danger btn-sm navbar-btn" href="/" th:text="#{header.logout}"></a>

                <div class="btn-group ">

                    <button class="btn btn-info navbar-btn btn-sm">En</button>

                    <button class="btn dropdown-toggle navbar-btn btn-info btn-sm" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" style="min-width:30px;">
                        <li><a href="">Ru</a></li>
                    </ul>

                </div>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
