<!DOCTYPE html>
<!--suppress HtmlUnknownTag -->
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:fragment="headerBody">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/restaurant}">VOTERESTAURANT.COM</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">

                <a class="btn btn-success btn-sm navbar-btn" style="margin-left:10px;"
                   th:text="#{header.update}" onclick="profileForm()"></a>

                <form th:action="@{/logout}" method="post" style="display: inline-block">
                    <input class="btn btn-danger btn-sm navbar-btn" type="submit" th:value="#{header.logout}">
                </form>

                <div class="btn-group">

                    <button class="btn btn-info navbar-btn btn-sm">En</button>

                    <button class="btn dropdown-toggle navbar-btn btn-info btn-sm" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" style="min-width:30px;">
                        <li><a href="">Ru</a></li>
                    </ul>

                </div>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
