<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{header.head.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../images/favicon.png">
</head>

<body>
<div th:replace="header::headerBody"></div>

<div class="jumbotron" style="margin-top:-20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2 class="text-center" th:text="#{profile.title}"></h2>
            </div>
        </div>
    </div>
</div>

<div class="container" id="user_update">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" id="forms">

                <div class="panel-heading" th:text="#{profile.form.title}"></div>
                <div class="panel-body">

                    <form method="post" action="#" th:action="@{/profile/save}" th:object="${user}">
                        <fieldset>

                            <div class="form-group">
                                <input type="hidden" class="form-control" id="userId" th:field="*{id}">
                            </div>

                            <div class="form-group">
                                <label for="inputName" th:text="#{profile.form.name}"></label>
                                <input type="text" class="form-control" id="inputName"
                                       th:field="*{name}" th:placeholder="#{profile.form.name.placeholder}">
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" th:text="#{profile.form.email}"></label>
                                <input type="email" class="form-control" id="inputEmail"
                                       th:field="*{email}" th:placeholder="#{profile.form.email.placeholder}">
                            </div>

                            <div class="form-group">
                                <label for="inputPassword" th:text="#{profile.form.password}"></label>
                                <input type="password" class="form-control" id="inputPassword"
                                       th:field="*{password}" th:placeholder="#{profile.form.password.placeholder}">
                            </div>

                            <button type="submit" class="btn btn-primary" th:text="#{profile.form.submit}"></button>

                            <a href="profile.html" th:href="@{/profile/delete(userId=100000)}" class="btn btn-danger"
                               th:text="#{profile.form.delete}"></a>

                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="text-center" th:include="footer::copy"></div>

<script src="../../js/jquery-3.0.0.min.js"></script>
<script src="../../js/bootstrap.3.3.7.min.js"></script>
</body>
</html>
