<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{header.head.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../resources/images/favicon.png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../../resources/css/style.css">
</head>

<body>

<div th:replace="header::headerBody"></div>

<div class="jumbotron" style="margin-top:-20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2 class="text-center" th:text="#{profile.title}"></h2>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="user-update" th:fragment="form-update">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" th:text="#{profile.form.title}"></h2>
            </div>

            <div class="modal-body">

                <form class="form-horizontal" method="post" id="details-user">

                    <input type="hidden" class="form-control" id="id" name="id">
                    <input type="hidden" class="form-control" id="role" name="role">

                    <div class="form-group">
                        <label for="name" class="control-label col-xs-3" th:text="#{profile.form.name}"></label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="name" name="name"
                                   th:placeholder="#{profile.form.name.placeholder}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="control-label col-xs-3" th:text="#{profile.form.email}"></label>
                        <div class="col-xs-9">
                            <input type="email" class="form-control" id="email" name="email"
                                   th:placeholder="#{profile.form.email.placeholder}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="control-label col-xs-3" th:text="#{profile.form.password}"></label>
                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="password" name="password"
                                   th:placeholder="#{profile.form.password.placeholder}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button type="submit" class="btn btn-primary" th:text="#{profile.form.submit}"></button>

                            <a class="btn btn-danger" th:text="#{profile.form.delete}" onclick="deleteProfile()"></a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="text-center" th:include="footer::copy"></div>

<script src="../../resources/js/jquery-3.0.0.min.js"></script>
<script src="../../resources/js/bootstrap.min.js"></script>
</body>
</html>
