<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title th:text="#{signin.header.title}"></title>
    <link rel="shortcut icon" href="../../resources/images/favicon.png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../../resources/css/signin.css">
</head>

<body>
<div class="col-md-6 col-md-offset-3 message" th:if="${error}">
    <p class="text-center alert alert-danger" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>
</div>
<div class="col-md-6 col-md-offset-3 message" th:if="${message}">
    <p class="text-center alert alert-success" th:text="#{${message}}"></p>
</div>

<div class="container">

    <!--Signin form-->
    <form class="form-signin collapse in" method="post" th:action="@{/login}">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h2 class="form-signin-heading" th:text="#{signin.form.signin.title}"></h2>
            </div>

            <div class="panel-body">

                <input type="text" class="form-control" th:placeholder="#{signin.form.email}" name="username" autofocus>

                <input type="password" class="form-control" th:placeholder="#{signin.form.password}" name="password">

                <label class="checkbox">
                    <input type="checkbox" value="remember-me" th:text="#{signin.form.remember.me}">
                </label>

                <label class="checkbox">
                    <a data-toggle="collapse" data-target=".collapse" th:text="#{signin.form.register.me}"></a>
                </label>

            </div>

            <div class="panel-footer">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>

        </div>
    </form>

    <!--Registration form-->
    <form class="form-signin collapse" method="post" th:action="@{/register}">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h2 class="form-signin-heading" th:text="#{signin.form.register.title}"></h2>
            </div>

            <div class="panel-body">

                <input type="text" class="form-control" th:placeholder="#{signin.form.name}" name="name" autofocus>

                <input type="text" class="form-control" th:placeholder="#{signin.form.email}" name="email">

                <input type="password" class="form-control" th:placeholder="#{signin.form.password}" name="password">

                <label class="checkbox">
                    <input type="checkbox" value="remember-me" th:text="#{signin.form.remember.me}">
                </label>

                <label class="checkbox">
                    <a data-toggle="collapse" data-target=".collapse" th:text="#{signin.form.register.me}"></a>
                </label>

            </div>
            <div class="panel-footer">

                <button class="btn btn-lg btn-primary btn-block" type="submit"
                        th:text="#{signin.form.button.register}"></button>

            </div>
        </div>
    </form>

</div>
<script src="../../resources/js/jquery-3.0.0.min.js"></script>
<script src="../../resources/js/bootstrap.min.js"></script>
<script src="../../resources/js/jquery.noty.packaged.min.js"></script>
<script src="../../resources/js/app.js"></script>
</body>
</html>
