<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{header.head.title}"></title>
    <link rel="shortcut icon" href="../../resources/images/favicon.png">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../../resources/css/style.css">
</head>

<body>

<div th:replace="header::headerBody"></div>

<div class="jumbotron" style="margin-top:-20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2 th:text="#{user.title}"></h2>
                <h4 th:text="#{user.title.description}"></h4>
                <p th:text="#{user.description}"></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading" th:text="#{user.table.title}"></div>
        <div class="panel-body">
            <div class="row">
                <div id="datatable"></div>
            </div>
        </div>
    </div>
</div>

<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>

<div id="footer" class="text-center" th:include="footer::copy"></div>

<div th:replace="profile::form-update"></div>

<script src="../../resources/js/jquery-3.0.0.min.js"></script>
<script src="../../resources/js/bootstrap.min.js"></script>
<script src="../../resources/js/jquery.noty.packaged.min.js"></script>
<script src="../../resources/js/app.js"></script>
<script>
    $(function () {
        getAllFromUserPage();
    })
</script>
</body>
</html>
