<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
</head>
<body>

<div id="wrap">
    <header th:include="header::top_header"></header>

    <div class="divider"></div>
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="page-header text-center">
                <h1 th:text="#{user_page.title}"></h1>
            </div>
            <p class="lead text-center">
                Choosing the best restaurant every day
            </p>
            <p class="text-center">
                Users can vote on which restaurant they want to have lunch at Only one vote counted per user If user
                votes again the same day. If it is before 11:00 we assume that he changed his mind. If it is after
                11:00
                then it is too late, vote can't be changed. Each restaurant provides new menu each day.
            </p>
        </div>
    </div>

    <div class="container bg">
        <div class="row">
            <div th:each="restaurant:${allRestaurant}">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3 th:text="${{restaurant.name}}"></h3>
                            <h4 th:text="${{restaurant.address}}"></h4>
                            <div th:each="dish:${restaurant.dishes}" class="list-inline">
                                <span th:text="${{dish.name}}"></span>
                                <span th:text="${{dish.price}}"></span>
                            </div>
                            <p><a href="#" class="btn btn-primary" role="button">Vote!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <p>Based on the <a href="http://bootply.com">Bootstrap Playground</a>, Bootply.</p>
            <hr>
            <ul class="list-inline center-block">
                <li><a href="http://facebook.com/bootply"><img src="../../pictures/soc_fb.png"></a></li>
                <li><a href="http://twitter.com/bootply"><img src="../../pictures/soc_tw.png"></a></li>
                <li><a href="http://google.com/+bootply"><img src="../../pictures/soc_gplus.png"></a></li>
                <li><a href="http://pinterest.com/in1"><img src="../../pictures/soc_pin.png"></a></li>
            </ul>
        </div>
    </div>

    <div class="text-center" id="footer" th:include="footer::copy"></div>
    <ul class="nav pull-right scroll-top">
        <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
    </ul>
</div>
<script src="../../js/jquery-3.0.0.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/bootstrap-dropdown.js"></script>
<script src="../../js/app.js"></script>
</body>
</html>
